<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PPW3css.css' %}">
    <title>Manuel Yoseph Ray</title>
  </head>
  <body class="page-top5">
    
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="#page-top"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href="/" class="nav-link js-scroll-trigger" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/experiences/" class="nav-link js-scroll-trigger" >Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/education/" class="nav-link js-scroll-trigger" >Education & Experience <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/contact/" class="nav-link js-scroll-trigger" >Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/warning/" class="nav-link js-scroll-trigger" >Warning <span class="sr-only">(current)</span></a>
                </li>
      <img src="{% static 'foto/warning.jpg' %}">
        <h1>Server is under maintenance!</h1>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <style>
  .page-top5 .img{
   position: relative;
   height: 250px;
   width: auto;
   margin-top: 180px;
   margin-left: 650px;
}

.page-top5 h1{
    text-align: center;
    -webkit-text-fill-color: white;co
}

.page-top5{
    background-image: url("{% static 'foto/bg5.jpeg' %}");
    background-size: cover;
    height: fit-content;
    margin-top: 100px;
}</style>
</html>